<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Share your location with friends | MacLir</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body data-js-view-name="<%= js_view_name(@conn, @view_template) %>">
    <%= if show_header(@conn) do %>
    <header>
      <%= render "nav.html", assigns %>
    </header>
    <% end %>

    <%= if get_flash(@conn, :info) do %>
    <p id="info-flash" class="d-none"><%= get_flash(@conn, :info) %></p>
    <% end %>
    <%= if get_flash(@conn, :error) do %>
    <p id="error-flash" class="d-none"><%= get_flash(@conn, :error) %></p>
    <% end %>

    <main>
      <div class="container-fluid m-0 p-0">
        <%= render @view_module, @view_template, assigns %>
      </div>
    </main>
    <footer></footer>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
