/* This file is for your main application css. */
.avatar-img {
	height: 35px !important;
}

.avatar > .dropdown-toggle::after {
	display: none;
}

#map {
	width: auto;
	height: 100vh; 
	position: relative; 
	overflow: hidden;
}

.side-panel {
	position: absolute;
	z-index: 900;
}
